@import "../../../assets/styles/styles.scss";
.todo {
  background-color: $bgcCard;
  .container {
    @include content;
    margin: 0 auto 0 auto;
    padding: 1rem 0;
    //min-height: calc(100vh - 10rem);
  }
}
