@import "../../../assets/styles/styles.scss";
.creator {
  background-color: $bgcCard;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  .search {
    width: 25rem;
    .searchInput {
      width: 100%;
      padding: 0.5rem 0;
    }
  }
}
